# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Game asdf/v17/ipch/AutoPCH/9a2e939148fdc27d/SOURCE.ipch
.vs/Game asdf/v17/ipch/AutoPCH/c9d3b627f1044092/소스.ipch
.vs/Game asdf/v17/ipch/AutoPCH/e7bf0386ea98200b/SOURCE.ipch
